*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
}



nav{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 40px;

    background:#0b1220;
    border-bottom:1px solid rgba(255,255,255,0.08);
}

.logo-area{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-circle{
    width:48px;
    height:48px;

    border-radius:50%;

    background:#22d3ee;

    display:flex;
    align-items:center;
    justify-content:center;

    color:black;
    font-weight:bold;
}

.logo-text{
    font-size:2rem;
    font-weight:700;
}

nav ul{
    list-style:none;
    display:flex;
    gap:50px;
}

nav a{
    text-decoration:none;
    color:#cbd5e1;
    font-weight:600;
    transition:0.3s;
}

nav a:hover{
    color:#22d3ee;
}

.nav-btn{
    background:#22d3ee;
    color:black;
    padding:14px 28px;
    border-radius:30px;
    text-decoration:none;
    font-weight:700;
}



.hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:100px 20px;

    background:
    linear-gradient(
        rgba(15,23,42,0.85),
        rgba(15,23,42,0.95)
    ),
    url("hero_bg2.jpg");

    background-size:cover;
    background-position:center;
}

.hero-badge{
    color:#22d3ee;
    border:1px solid rgba(255,255,255,0.15);

    padding:12px 25px;
    border-radius:30px;

    margin-bottom:35px;
}

.hero h1{
    font-size:6rem;
    max-width:1100px;
    line-height:1.05;
    margin-bottom:30px;
}

.hero span{
    color:#22d3ee;
}

.hero p{
    max-width:850px;
    color:#94a3b8;
    font-size:1.4rem;
    line-height:1.8;

    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    margin-top:40px;
}

.hero-buttons a:hover{
    color: #22c5ee;
}

.primary-btn{
    display:inline-block;
    background:#22d3ee;
    color:#000;
    text-decoration:none;
    padding:18px 40px;
    border-radius:50px;
    font-weight:700;
    border:2px solid rgba(255,255,255,0.1);
    transition:0.3s;
}

.primary-btn:hover{
    transform:translateY(-3px);
}

.secondary-btn{
    display:inline-block;
    padding:18px 40px;
    border:2px solid rgba(255,255,255,0.15);
    border-radius:50px;
    text-decoration:none;
    color:#9ca3af;
    font-weight:600;
    transition:0.3s;
}

.secondary-btn:hover{
    border-color:#22d3ee;
    color:#22d3ee;
}



.features{
    padding:120px 70px;
    background:#111827;
}

.section-tag{
    color:#22d3ee;
    letter-spacing:3px;
    margin-bottom:15px;
}

.features h2{
    font-size:4rem;
    margin-bottom:25px;
}

.section-description{
    color:#94a3b8;
    font-size:1.3rem;
    max-width:800px;
}

.feature-container{
    display:flex;
    gap:30px;
    margin-top:80px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:300px;

    background:#1e293b;

    border-radius:20px;

    padding:40px;

    border:1px solid rgba(255,255,255,0.08);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card-tag{
    color:#22d3ee;
    margin-bottom:30px;
    font-size:0.9rem;
    letter-spacing:2px;
}

.card img{
    width:100px;
    margin-bottom:30px;
}

.card h3{
    font-size:2rem;
    margin-bottom:20px;
}

.card p{
    color:#94a3b8;
    line-height:1.8;
}



.dashboard{
    padding:120px 70px;
}

.dashboard h2{
    font-size:4rem;
    margin-bottom:25px;
}

.dashboard-subtitle{
    color:#94a3b8;
    margin-bottom:60px;
    font-size:1.2rem;
}

.weather-card{
    background:#111827;

    border:1px solid rgba(255,255,255,0.08);

    border-radius:20px;

    padding:40px;

    margin-bottom:40px;
}

.weather-card h3{
    margin-bottom:10px;
}

.weather-card p{
    color:#94a3b8;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}

.dashboard-card{
    background:#1e293b;

    border:1px solid rgba(255,255,255,0.08);

    border-radius:20px;

    padding:35px;

    min-height:350px;
}

.dashboard-card h3{
    margin-bottom:15px;
}

.dashboard-card p{
    color:#94a3b8;
}



.about{
    padding:140px 20px;
    text-align:center;
}

.about h2{
    font-size:4rem;
    margin-bottom:30px;
}

.about p{
    max-width:900px;
    margin:auto;

    color:#94a3b8;

    font-size:1.4rem;
    line-height:1.8;
}



footer{
    border-top:1px solid rgba(255,255,255,0.08);

    padding:40px 70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    color:#94a3b8;
}

.footer-logo{
    display:flex;
    align-items:center;
    gap:15px;
}

html{
    scroll-behavior:smooth;
}

section{
    scroll-margin-top:100px;
}


@media(max-width:900px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        gap:25px;
    }

    .hero h1{
        font-size:3.5rem;
    }

    .dashboard-grid{
        grid-template-columns:1fr;
    }

    footer{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }
}

@media(max-width:768px){

    .feature-container{
        flex-direction:column;
    }

    .hero-buttons{
        flex-direction:column;
    }

    .features,
    .dashboard{
        padding:80px 25px;
    }

    .features h2,
    .dashboard h2,
    .about h2{
        font-size:2.8rem;
    }

    .hero h1{
        font-size:2.8rem;
    }
}