*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
}


html{
    scroll-behavior:smooth;
}

section{
    scroll-margin-top:100px;
}



.light-mode .bg-slate-950{
    background:#ffffff !important;
}

.light-mode .bg-slate-900{
    background:#f5f7fb !important;
}

.light-mode .bg-slate-800{
    background:white !important;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.light-mode .bg-slate-700{
    background:#f8fafc !important;
}


.light-mode .text-slate-400{
    color:#475569 !important;
}

.light-mode h1,
.light-mode h2,
.light-mode h3{
    color:#0f172a !important;
}

.light-mode .border-white\/10{
    border-color:#dbeafe !important;
}

.light-mode .border-white\/20{
    border-color:#cbd5e1 !important;
}

.light-mode #home{
    background:
    linear-gradient(
        rgba(255,255,255,.65),
        rgba(255,255,255,.65)
    ),
    url("hero_bg.jpg");

    background-size:cover;
    background-position:center;
}

.light-mode #features .text-slate-400{
    color:#475569 !important;
}

.light-mode #taskInput{
    background:#f8fafc;
    color:#0f172a;
    border:1px solid #e2e8f0;
}

.light-mode #taskList li{
    background:#f8fafc;
    color:#0f172a;
    border:1px solid #dbe2ea;
}

.light-mode #taskList li{
    background:#f8fafc;
    color:#0f172a;
    border:1px solid #dbe2ea;
}

.light-mode #dashboard{
    background:#f5f7fb;
}

.light-mode #about{
    background:#f5f7fb;
}

.light-mode footer{
    background:#ffffff !important;
}

.light-mode .text-slate-300{
    color:#334155 !important;
}

.light-mode h1,
.light-mode h2,
.light-mode h3{
    color:#0f172a !important;
}



.light-mode #stickyNote{
    background:#f8fafc !important;
    color:#0f172a !important;
    border:1px solid #e2e8f0;
}

